EDA hazifeladat

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [15]:
# Kaggle-ről egy csv fájl formájában kerül letöltésre
df = pd.read_csv("data.csv")
df.head()

,Unnamed: 0,Movie Name,Year of Release,Run Time in minutes,Movie Rating,Votes,MetaScore,Gross,Genre,Certification,Director,Stars,Description
0,0,The Shawshank Redemption,1994,142,9.3,2804443,82.0,28340000.0,['Drama'],R,['Frank Darabont'],"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...","['Over', 'the', 'course', 'of', 'several', 'ye..."
1,1,The Godfather,1972,175,9.2,1954174,100.0,134970000.0,"['Crime', ' Drama']",R,['Francis Ford Coppola'],"['Marlon Brando', 'Al Pacino', 'James Caan', '...","['Don', 'Vito', 'Corleone,', 'head', 'of', 'a'..."
2,2,Ramayana: The Legend of Prince Rama,1993,135,9.2,12995,NaN,NaN,"['Animation', ' Action', ' Adventure']",PG,"['Ram Mohan', 'Yûgô Sakô', 'Koichi Saski']","['Arun Govil', 'Nikhil Kapoor', 'Edie Mirman',...","['An', 'anime', 'adaptation', 'of', 'the', 'Hi..."
3,3,The Chaos Class,1975,87,9.2,42231,NaN,NaN,"['Comedy', ' Drama']",NaN,['Ertem Egilmez'],"['Kemal Sunal', 'Münir Özkul', 'Halit Akçatepe...","['Lazy,', 'uneducated', 'students', 'share', '..."
4,4,The Dark Knight,2008,152,9.0,2786129,84.0,534860000.0,"['Action', ' Crime', ' Drama']",PG-13,['Christopher Nolan'],"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...","['When', 'the', 'menace', 'known', 'as', 'the'..."

In [16]:
# adathalmaz mérete
df.shape

(10000, 13)

In [17]:
# oszlopok
df.columns

Index(['Unnamed: 0', 'Movie Name', 'Year of Release', 'Run Time in minutes',
       'Movie Rating', 'Votes', 'MetaScore', 'Gross', 'Genre', 'Certification',
       'Director', 'Stars', 'Description'],
      dtype='object')

In [18]:
# oszlopok típusa (szöveg, objektum, szám)
df.dtypes

Unnamed: 0               int64
Movie Name              object
Year of Release          int64
Run Time in minutes      int64
Movie Rating           float64
Votes                    int64
MetaScore              float64
Gross                  float64
Genre                   object
Certification           object
Director                object
Stars                   object
Description             object
dtype: object

In [19]:
# mennyi duplikátum van az adathalmazban
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Movie Name, Year of Release, Run Time in minutes, Movie Rating, Votes, MetaScore, Gross, Genre, Certification, Director, Stars, Description]
Index: []

In [20]:
duplicate_rows_df = df[df.duplicated()]
print("Duplikált sorok száma: ", duplicate_rows_df.shape[0])

Duplikált sorok száma:  0

In [21]:
df.isnull().sum()

Unnamed: 0                0
Movie Name                0
Year of Release           0
Run Time in minutes       0
Movie Rating              0
Votes                     0
MetaScore              2026
Gross                  2915
Genre                     0
Certification           369
Director                  0
Stars                     0
Description               0
dtype: int64

In [22]:
# üres mezők aránya (százalékosan)
df.isnull().sum() / df.shape[0] * 100

Unnamed: 0              0.00
Movie Name              0.00
Year of Release         0.00
Run Time in minutes     0.00
Movie Rating            0.00
Votes                   0.00
MetaScore              20.26
Gross                  29.15
Genre                   0.00
Certification           3.69
Director                0.00
Stars                   0.00
Description             0.00
dtype: float64

Bevetel kozel harmada hianyzik, a metascore-nak az otode

In [23]:
# numerikus jellemzők főbb statiszikái
df.describe()

,Unnamed: 0,Year of Release,Run Time in minutes,Movie Rating,Votes,MetaScore,Gross
count,10000.00000,10000.000000,10000.000000,10000.000000,1.000000e+04,7974.000000,7.085000e+03
mean,4999.50000,2001.413600,110.725000,6.727020,9.279738e+04,59.171432,4.017500e+07
std,2886.89568,18.597804,22.053073,0.821264,1.716509e+05,17.268795,6.748658e+07
min,0.00000,1915.000000,45.000000,4.900000,1.000200e+04,7.000000,0.000000e+00
25%,2499.75000,1994.000000,96.000000,6.100000,1.685175e+04,47.000000,2.340000e+06
50%,4999.50000,2007.000000,107.000000,6.700000,3.417950e+04,60.000000,1.693000e+07
75%,7499.25000,2015.000000,121.000000,7.300000,9.154600e+04,72.000000,4.864000e+07
max,9999.00000,2023.000000,439.000000,9.300000,2.804443e+06,100.000000,9.366600e+08

In [31]:

df = df.drop(columns=["Unnamed: 0"])
df.head()

,Movie Name,Year of Release,Run Time in minutes,Movie Rating,Votes,MetaScore,Gross,Genre,Certification,Director,Stars,Description
0,The Shawshank Redemption,1994,142,9.3,2804443,82.0,28340000.0,['Drama'],R,['Frank Darabont'],"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...","['Over', 'the', 'course', 'of', 'several', 'ye..."
1,The Godfather,1972,175,9.2,1954174,100.0,134970000.0,"['Crime', ' Drama']",R,['Francis Ford Coppola'],"['Marlon Brando', 'Al Pacino', 'James Caan', '...","['Don', 'Vito', 'Corleone,', 'head', 'of', 'a'..."
2,Ramayana: The Legend of Prince Rama,1993,135,9.2,12995,NaN,NaN,"['Animation', ' Action', ' Adventure']",PG,"['Ram Mohan', 'Yûgô Sakô', 'Koichi Saski']","['Arun Govil', 'Nikhil Kapoor', 'Edie Mirman',...","['An', 'anime', 'adaptation', 'of', 'the', 'Hi..."
3,The Chaos Class,1975,87,9.2,42231,NaN,NaN,"['Comedy', ' Drama']",NaN,['Ertem Egilmez'],"['Kemal Sunal', 'Münir Özkul', 'Halit Akçatepe...","['Lazy,', 'uneducated', 'students', 'share', '..."
4,The Dark Knight,2008,152,9.0,2786129,84.0,534860000.0,"['Action', ' Crime', ' Drama']",PG-13,['Christopher Nolan'],"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...","['When', 'the', 'menace', 'known', 'as', 'the'..."

In [24]:
df.describe()

,Unnamed: 0,Year of Release,Run Time in minutes,Movie Rating,Votes,MetaScore,Gross
count,10000.00000,10000.000000,10000.000000,10000.000000,1.000000e+04,7974.000000,7.085000e+03
mean,4999.50000,2001.413600,110.725000,6.727020,9.279738e+04,59.171432,4.017500e+07
std,2886.89568,18.597804,22.053073,0.821264,1.716509e+05,17.268795,6.748658e+07
min,0.00000,1915.000000,45.000000,4.900000,1.000200e+04,7.000000,0.000000e+00
25%,2499.75000,1994.000000,96.000000,6.100000,1.685175e+04,47.000000,2.340000e+06
50%,4999.50000,2007.000000,107.000000,6.700000,3.417950e+04,60.000000,1.693000e+07
75%,7499.25000,2015.000000,121.000000,7.300000,9.154600e+04,72.000000,4.864000e+07
max,9999.00000,2023.000000,439.000000,9.300000,2.804443e+06,100.000000,9.366600e+08